<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.common.mapper.ChatRoomMapper">


    <resultMap id="ChatRoomModelResultMap" type="com.example.backend.common.model.ChatRoomModel">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <!-- 채팅방 생성 -->
    <insert id="insertChatRoom" parameterType="com.example.backend.common.model.ChatRoomModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CHAT_ROOMS (name, created_by, created_at, updated_at)
        VALUES (#{name}, #{createdBy}, #{createdAt}, #{updatedAt})
    </insert>

    <!-- 특정 채팅방 조회 -->
    <select id="selectChatRoomById" parameterType="long" resultMap="ChatRoomModelResultMap">
        SELECT * FROM CHAT_ROOMS
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <!-- 모든 채팅방 목록 조회 (옵션) -->
    <select id="selectAllChatRooms" resultMap="ChatRoomModelResultMap">
        SELECT * FROM CHAT_ROOMS
        WHERE deleted_at IS NULL
    </select>

    <!-- ChatRoomMapper.xml -->
    <select id="selectPrivateRoomByUserIds" resultMap="ChatRoomModelResultMap">
        SELECT cr.*
        FROM CHAT_ROOMS cr
                 JOIN USER_CHAT_ROOMS ucr1 ON cr.id = ucr1.chat_room_id
                 JOIN USER_CHAT_ROOMS ucr2 ON cr.id = ucr2.chat_room_id
        WHERE ucr1.user_id = #{userId1}
          AND ucr2.user_id = #{userId2}
          AND cr.name LIKE '% - %'
        GROUP BY cr.id
        HAVING COUNT(DISTINCT ucr1.user_id) = 1 AND COUNT(DISTINCT ucr2.user_id) = 1
    </select>

    <update id="updateChatRoom" parameterType="com.example.backend.common.model.ChatRoomModel">
        UPDATE CHAT_ROOMS
        SET name = #{name},
            updated_at = #{updatedAt},
            deleted_at = #{deletedAt}
        WHERE id = #{id}
    </update>

    <!-- 1:1 채팅방 소프트 딜리트: 두 사용자의 관계에 해당하는 채팅방의 deleted_at 컬럼에 타임스탬프 업데이트 -->
    <update id="softDeletePrivateChatRoomById" parameterType="map">
        UPDATE chat_rooms
        SET deleted_at = #{deletedAt}
        WHERE id = #{chatRoomId}
    </update>

    <!-- 채팅방 복원: deleted_at을 NULL로 업데이트 -->
    <update id="restorePrivateChatRoomById" parameterType="long">
        UPDATE chat_rooms
        SET deleted_at = NULL
        WHERE id = #{chatRoomId}
    </update>

</mapper>
