<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.common.mapper.UserProfileMapper">


    <resultMap id="UserProfilesModelResultMap" type="com.example.backend.common.model.UserProfilesModel">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="statusMessage" column="status_message"/>
        <result property="profileImage" column="profile_image"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedAt" column="deleted_at"/>
    </resultMap>

    <select id="selectUserProfileByUserId" parameterType="long" resultMap="UserProfilesModelResultMap">
        SELECT * FROM USER_PROFILES
        WHERE user_id = #{userId}
          AND deleted_at IS NULL
    </select>

    <insert id="insertUserProfile" parameterType="com.example.backend.common.model.UserProfilesModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER_PROFILES (user_id, status_message, profile_image, created_at, updated_at)
        VALUES (#{userId}, #{statusMessage}, #{profileImage}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="updateUserProfile" parameterType="com.example.backend.common.model.UserProfilesModel">
        UPDATE USER_PROFILES
        SET status_message = #{statusMessage},
            profile_image = #{profileImage},
            updated_at = #{updatedAt},
            deleted_at = #{deletedAt}
        WHERE id = #{id}
    </update>

</mapper>